body(style='font-family: Arial;')
   div(style='max-width: 1200px; width: 100%; margin: 0 auto; text-align: center;')
      div(style='padding-top: 40px;')

      h1(style='color: blueviolet;')= message

      div(style='display: block; width: 100%; margin-top: 24px;') 
         a(href="https://anpha.shop/admin/order/all" style='border-radius: 8px; background: #01dbe5; color: #fff; font-weight: 600; font-size: 20px; margin: 0; padding: 16px 24px;') Deliver Now 

      div(style='padding-top: 40px;')