@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #003e70;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.common-transition {
  @apply transition-all duration-200 ease-in-out;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input {
  -moz-appearance: textfield;
}

.background-app {
  background: linear-gradient(45deg, #333 80%, #01dbe5 20%);
}

@mixin underline--after($background-color, $repeat: false) {
  position: relative;

  &:hover::after {
    width: 100%;
  }

  &::after {
    content: '';

    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 1.5px;

    transition: var(--common-transition);
    background: $background-color;

    @if $repeat {
      animation: underline-repeat 1s ease-in-out infinite;
    }
  }
}

.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.input-range {
  -webkit-appearance: none;
  appearance: none;
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #25dbe6;
    cursor: pointer;
  }
}

.underline {
  @include underline--after(var(--background-light));
}

.underline-darker {
  @include underline--after(var(--background-darker));
}

.underline-dark {
  @include underline--after(var(--text-dark));
}

.underline-repeat {
  @include underline--after(var(--background-light), true);
}

.underline-repeat-darker {
  @include underline--after(var(--background-darker), true);
}

.underline-repeat-dark {
  @include underline--after(var(--background-dark), true);
}

@keyframes underline-repeat {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
